APPLICATION:
  PORT: 3003

MOVIE_API:
  TOKEN:

LOGGER:
  WITH_REQUEST_ID:
  LOG_FILE_PATH:
  ENABLE_WRITE_TXT_LOG:
  CUSTOM_LOG_LEVELS:
  GRAY_SCALE:
    ENABLED:
    THRESHOLD:
    PERCENTAGE:
    TOTAL_REQUESTS:
